:root {
    --primary-color: #F29100;
    --secondary-color: #4A4A4A;
    --tertiary-color: #33AA22;

}

*,
*::before,
*::after {
    box-sizing: border-box;
}


body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    min-height: 100vh;
    background-color: grey;
    /* place-items: center; */
    /* background-color: #FFFFFF;
    background-image: linear-gradient(180deg, #FFFFFF 0%, #6284FF 50%, #FF0000 100%); */
}


/* Global Stylings */
hr {
    border: 1px solid grey !important;
    padding: 0 !important;
    margin: 4px 0 !important;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    padding-left: 0.85rem;
}

sup {
    top: 1rem !important;
}

input {
    display: block;
    width: 100%;
    padding: 0.25rem 1rem;
    border: 1px solid var(--primary-color);
    border-radius: .5rem !important;
    margin-top: 0.30rem !important;
}

input::placeholder {
    font-weight: 300;
}

input[type="text"]:focus {
    outline: none;
    border: 1px solid var(--primary-color);
    padding: 8px;
    transition: padding .4s ease-in;
}

input[type="text"]:focus,
input[type="text"]:focus:not(:valid) {
    padding-right: 30px;
    transition: padding .4 ease-in;
}


input[type="email"]:focus {
    outline: none;
    border: 1px solid var(--primary-color);
    padding: 8px;
    transition: padding .4s ease-in;
}

input[type="email"]:focus:not(:valid) {
    padding-right: 30px;
}

input[type="tel"]:focus {
    outline: none;
    border: 1px solid var(--primary-color);
    padding: 8px;
    transition: padding .4s ease-in;
}

input[type="tel"]:focus:not(:valid) {
    padding-right: 30px;
}

input[type="date"] {
    color: #bcb8b8;
}

input[type="date"]:focus {
    outline: none;
    border: 1px solid var(--primary-color);
    padding: 8px;
    transition: padding .4s ease-in;
}

input[type="date"]:focus:not(:valid) {
    padding-top: 10px;
}

input[type="checkbox"] {
    -webkit-appearance: none !important;
    background-color: #fff !important;
    border: 1px solid var(--primary-color) !important;
    display: flex;
    justify-content: center;
}

input[type="checkbox"]:checked:before {
    content: "\2713";
    width: 16px;
    height: 16px;
    display: block;
    text-align: center;
    justify-content: center;
    color: var(--primary-color);
}

.ml-auto {
    margin-left: 0 !important;
    display: block !important;
}

.text-center {
    text-align: center;
}

/* ProgressBar */

.progressbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    counter-reset: step;
    margin: 2rem 0 4rem;
}

.progressbar::before,
.progress1 {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    background-color: #767676;
    z-index: -1;
}

.progress1 {
    background-color: var(--primary-color);
    width: 0%;
    transition: 0.5s;
}

.progress-step {
    width: 2.1875rem;
    height: 2.1875rem;
    background-color: #767676;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-step::before {
    counter-increment: step;
    content: counter(step);
}

.progress-step::after {
    content: attr(data-title);
    position: absolute;
    top: calc(100% + 0.5rem);
    font-size: 0.85rem;
    color: var(--primary-color);
}

.progress-step-active {
    background-color: var(--primary-color);
    color: #fff;
}

/* Form Stylings */

.form {
    width: 50%;
    margin: 0 auto;
    border: 1px solid var(--primary-color);
    border-radius: 1.5rem;
    padding: 2rem 4rem;
    height: min-content !important;
    margin-bottom: 200px !important;
}

.form-step {
    display: none;
    transform-origin: top;
    animation: animate 0.75s;
}

.abone {
    transform-origin: top;
    animation: animate 0.75s;
}

.bireysel-page {
    display: none;
    transform-origin: top;
    animation: animate 0.75s;
}

.firma-page {
    display: none;
    transform-origin: top;
    animation: animate 0.75s;
}

.tarife {
    transform-origin: top;
    animation: animate 0.75s;
}

.firma-gecis-page {
    transform-origin: top;
    animation: animate 0.75s;
}

.yeni-kurulum-page {
    transform-origin: top;
    animation: animate 0.75s;
}

.gecis-tarife-bilgilendirme {
    transform-origin: top;
    animation: animate 0.75s;
}

.yeni-tarife-bilgilendirme {
    transform-origin: top;
    animation: animate 0.75s;
}



@keyframes animate {
    from {
        transform: scale(1, 0);
        opacity: 0;
    }

    to {
        transform: scale(1, 1);
        opacity: 1;
    }
}

@keyframes animate1 {
    from {
        transform: scaleY(0);
        transform-origin: top;
        opacity: 0;
    }

    to {
        transform: scaleY(1);
        transform-origin: top;
        opacity: 1;
    }
}


.form-step-active {
    display: block;
}

.input-group {
    margin: .5rem 0;
}

.step-title {
    display: flex;
    justify-content: center;
    font-size: xx-large;
    font-weight: 600;
    margin-bottom: 1.5rem;
    color: black;

}

/* Button Stylings */
.btn {
    padding: 0.25rem 3rem !important;
    display: block;
    text-decoration: none;
    background-color: #FFFFFF;
    color: var(--primary-color) !important;
    text-align: center;
    border-radius: 0.75rem;
    cursor: pointer;
    transition: 0.3s !important;
    font-weight: 600 !important;
    border: 1px solid var(--primary-color) !important;
}

.btn:hover {
    box-shadow: 0 0 0 2px #fff, 0 0 0 5px var(--primary-color);
    background-color: #fff;
    border: none !important;
}

.btns-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    justify-items: center;
    justify-content: space-around;
}



/* Abone Pages */
.abone-group {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.abone-group-btn {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
}

.abone-second-page {
    display: none;
}

.birey {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.birey-checkbox {
    width: 25px !important;
    height: 25px !important;
    border: 1px solid var(--primary-color);
    margin: 0px;
}

.birey-checkbox-title {
    margin: 5px 0;
    font-weight: 600;
}

.birey-checkbox-title:hover {
    font-weight: 500;
}




/* Tarife */
.tarife-label {
    width: 80%;
    margin: 3% 0;
}

.tarife-group {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.tarife-group-btn {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    padding: 5px 0px !important;
    width: 120px !important;
}

.tarife-btns {
    display: contents;
}

.hizmet-no-bilgi {
    color: #4A4A4A;
    background: #FF3B3B26 0% 0% no-repeat padding-box;
    border-radius: 15px;
    padding: 10px 20px;
}

.select-group {
    display: flex;
    align-items: center;
    width: 80%;
    flex-direction: column;
}

.gecis-select {
    border: 1px solid var(--primary-color);
    border-radius: 15px;
    height: 40px;
    width: 80%;
}

/* Bilgilendirme Sayfası */

.gecis-tarife-bilgilendirme {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.yeni-tarife-bilgilendirme {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}


.bilgilendirme-page {
    width: 40% !important;
    border: 3px solid var(--primary-color);
    border-radius: 15px;
    padding: 0 !important;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.sonuc-boxs {
    border-bottom: 3px solid var(--primary-color);
    width: 100%;
}

.hiz-sonuc {
    color: #33AA22;
    font-weight: 700;
    font-size: xx-large;
    margin: 3% 6%;
    letter-spacing: 1px;
}

.sonuc-groups {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    padding: 2% 7%;
}

.sonuc-label {
    padding: 0;
    font-size: large;
    font-weight: 600;
}

.sonuc-label1 {
    padding: 0;
    font-size: large;
    font-weight: 600;
    color: var(--primary-color);
}

/* Paketler Sayfası */

.paketler {
    width: 100%;
    margin: 0 auto;
}

.paket-int {
    width: 100%;
    border-radius: 15px;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

.paketler-block {
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin: 10px 0;
    width: 40%;
    border: 4px solid var(--secondary-color);
    border-radius: 25px;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 1%;
}

.paketler-block.selected {
    border: 4px solid var(--tertiary-color) !important;
}

.paketler-block1 {
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
    width: 40%;
    border: 4px solid var(--secondary-color);
    border-radius: 25px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 4% 1%;
    align-items: center;
    height: 277px;
}


.paketler-block1.selected {
    border: 4px solid var(--tertiary-color) !important;
    color: var(--primary-color);
}

.paketler-block2 {
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
    width: 40%;
    border: 4px solid var(--secondary-color);
    border-radius: 25px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 4% 1%;
    align-items: center;
    height: 277px;
}

.paketler-block2.selected {
    border: 4px solid var(--tertiary-color) !important;
    color: var(--primary-color);
}

.paketler-block3 {
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin: 10px 0;
    width: 30%;
    border: 4px solid var(--secondary-color);
    border-radius: 25px;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 1%;
    height: 277px;
    align-items: center;
}

.paketler-block3-title {
    padding: 6%;
}

.paketler-block3.selected {
    border: 4px solid var(--tertiary-color) !important;
    color: var(--primary-color) !important;
}

.paket-block {
    padding: 4%;
}

.paket-aciklama {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
}

.icon-style {
    display: block;
    background-color: white;
    color: var(--primary-color);
    font-size: x-large;
}

.paket-hiz-title {
    font-size: xx-large;
    font-weight: 700;
    color: var(--primary-color);
}

.paket-hiz-turu {
    font-size: x-large;
    font-weight: 700;
    color: var(--secondary-color);
}

.paket-hiz-ozellik {
    font-size: large;
    font-weight: 600;
    color: var(--secondary-color);
    margin: 0;
}

.model-left {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.model-isim {
    font-size: x-large;
    font-weight: 490;
}

.model-list {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    font-size: 50px;
}

.model-list-fiyat {
    font-size: 62px;
    font-weight: 600;
}

.model-list-fiyat-tur {
    font-size: 20px;
    font-weight: 500;
}

.model-right {
    width: 40%;
}

.modem-resmi {
    width: 100%;
    height: 100%;
}

.ip-yok {
    display: flex;
    justify-content: center;
}

.ip-var {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.ip-fiyat {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    font-size: 50px;
}

.ip-fiyat-tur {
    font-size: 20px;
    font-weight: 500;
}

.abone-bilgi-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 3% 0;
}

.abone-bilgi {
    display: flex;
    border: 1px solid var(--secondary-color);
    border-radius: 15px;
    width: 40%;
    color: var(--secondary-color);
    font-size: larger;
    font-weight: 400;
    padding: 5px 15px;
}

.ozet-adress {
    display: flex;
    justify-content: space-between;
    margin: 1% 0px;
}

.ozet-adress-btn {
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    background-color: var(--primary-color);
    color: white;
    font-size: large;
    font-weight: 500;
    padding: 0 1%;
}

.bi-pencil-square {
    margin-left: 10px;
}

.ozet-adress-tittle {
    padding: 1% 0px 2% 0px;
    font-size: larger;
    font-weight: 400;
    padding-left: 0px;
}

.ozet-paket {
    display: flex;
    justify-content: space-between;
}

.ozet-paket-buton {
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    background-color: var(--primary-color);
    color: white;
    font-size: large;
    font-weight: 500;
    padding: 0 1%;
}

.ozet-paket-aciklama {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2% 0px 3% 0px;
    font-size: larger;
    font-weight: 400;
}

.ozet-paket-fiyat {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    border: 4px solid #399CFF;
    border-radius: 20px;
    font-size: larger;
    font-weight: 600;
}

.ozet-paket-fiyat-detay {
    display: flex;
    justify-content: space-between;
    padding: 8px 15px 0px 15px;
}

.ozet-paket-fiyat-btn {
    background: #399CFF;
    color: white;
    border: 1px solid #399CFF;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 3%;
    font-size: x-large;
    letter-spacing: 1px;
    font-weight: 600;
}

.yonlendirme-pages {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
}

.paketler-guvenlik {
    font-size: x-large;
    font-weight: 600;
}

.paketler-guvenlik1 {
    font-size: x-large;
    font-weight: 600;
    padding: 2%;
}

.guvenlik-imgs {
    position: unset;
    width: 50%;
    height: 50%;
    opacity: 0.70;
}